:root {
    --text-color: #212121;
    --secondary-text-color: #757575;
    --logo-and-button: #2196F3;
    --dark-background-color: #2F303A;
    --light-background-color: #F5F4FA;
    --nav-menu-color: #ECECEC;
    --black-color: #000000;
    --white-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 500px;
}
.header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
}
.first-contacts {
    font-style: normal;
    display: flex;
    gap: 50px;
    margin-right: 100px;
}
.first-contacts a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em; 
    display: flex;
    align-items: center;
    color: grey;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: normal;
  color: var(--black-color); 
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3%;
  margin-left: 200px;
}
.bluelogo {
    color: var(--logo-and-button);
}

.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contacts :nth-child(1) {
   color: var(--white-color);
   margin-left: 200px;
}
.contacts :nth-child(2n) {
    line-height: 1.5;
    margin-left: 20px;
    color: var(--secondary-text-color);
}
.logowhite {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: normal;
  color: var(--white-color); 
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3%
}
.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 25px 0; 
    border-bottom: 1px solid rgb(202, 202, 202);
    height: 25px;
}
.hero-section {
    background-color: #2F303A;
    width: 100%;
    height: 600px;
    top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #2F303A;
    width: 100%;
    height: 252px;
    top: 2094px;
}
.group-section {
    background-color: #F5F4FA;
    width: 1600px;
    height: 648px;
    top: 1446px;
}
.button-sale {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 5px; 
    padding: 15px 30px;
    font-size: 1em;
    font-weight: 550;
    cursor: pointer;
}
.h1-hero {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6%;
    font-weight: 700;
}
.features {
    padding: 60px 0;
}
.features-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.features-list li {
    width: 100%;
    width: 260px;
}

.features-list h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.features-list p {
    color: #797979;
    line-height: 1.5;
}

.work {
    padding: 60px 0;
    text-align: center;
}

.work h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.work-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.work-list li img {
    width: 100%;
    max-width: 360px;
    height: 240px;
    border-radius: 5px;
}

.group.section {
    background-color: #F5F4FA; 
    padding: 94px 0; 
    text-align: center;
}

.group.section h2 {
    font-size: 36px;
    line-height: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: 50px;
    color: #212121;
}

.group.list { 
    display: flex;
    justify-content: center; 
    gap: 30px; 
    width: 1200px;
    margin: 0 auto;
    list-style: none;
    padding: 0; 
}

.groupcard {
    background-color: #FFFFFF; 
    border-radius: 0 0 4px 4px;
    width: 270px; 
    text-align: center;
}
.groupcard img {
    width: 100%;
    height: auto;
}

.groupcard h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    margin: 30px 0 10px 0; 
    color: #212121;
}

.groupcard p {
    font-size: 16px;
    line-height: auto;
    color: #757575;
    margin: 0 0 30px 0; 
}
/* Portfolio */
.projects {
    display: flex; 
    gap: 30px;
    list-style: none; 
    padding: 0;
    margin: 0;
}
.project-text {
    padding: 20px 24px;
}
.project-text p {
    font-size: 16px;
    line-height: 1.2;
    color: #757575;
    margin: 0;
    letter-spacing: 3%;
    font-weight: normal;
}
.project-text h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    margin: 0 0 4px 0;
    color: #212121; 
}
.project-poster img {
    width: 100%;
    height: auto;
}